.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.11111rem;
    padding: 1.11111rem;
    background: #f2f2f2;
    color: #333333;
}

p.date {
    font-weight: 400;                        
    padding-top: 1.6px;
    font-size: 0.85rem;
}   

p {
    font-weight: 400;
    margin-bottom: 0 !important;   
}

tr {
   background-color: #fefefe !important;
}

.show-read-more .more-text{
   display: none;
}
